body,
html {
    width: 100%;
    height: 100%;
}

html {
    font-size: 1px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


*:hover * {
    /* 호버 시: 정지 */
    animation-play-state: paused;
}


img {
    width: 100%;
    height: 100%;
}


.swiper__wrap {
    width: 100%;
    height: 100%;
    // border: 1px solid red;

    &--item {
        // border: 1px solid blue;
        height: 416rem;
        overflow: hidden;

        &:global(.swiper-slide-active) {

            // class 붙을 시 애니메이션 
            .ani__wrap {
                height: 100%;



                &--item {
                    width: 100%;
                    height: 416rem;
                }

                // ani 1
                &.ani_1 {

                    // name | duration | timing-function | delay | iteration-count | direction | fill-mode;
                    position: relative;
                    // border: 1px solid red;
                    height: 100%;
                    background-color: rgba(241, 242, 244, 1);


                    .ani_1_1 {
                        animation: ani_1_1 2s ease-in-out forwards;
                        opacity: 1;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: 1;
                        text-align: center;

                    }

                    .ani_1_2 {
                        animation: ani_1_2 2s 1s ease-in-out forwards;
                        opacity: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: 2;
                        text-align: center;

                    }

                    .ani_1_3 {
                        animation: ani_1_3 3s 2s ease-in-out forwards;
                        opacity: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: 3;
                        text-align: center;

                    }

                    .ani_1_5 {
                        animation: ani_1_5 5s 3s cubic-bezier(0, 0.36, 0.34, 0.97) forwards;
                        opacity: 1;
                        // width: 265rem;
                        width: 393rem;
                        height: 50rem;
                        position: absolute;
                        // bottom: 0rem;
                        bottom: 11rem;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: 4;
                        font-size: 16rem;
                        white-space: nowrap;
                        // overflow: hidden;
                        transform-origin: center center;
                        transform: translateX(-30px) scale(0.6); // 위 작은 박스


                        .ani_1_5_1 {
                            animation: ani_1_5_1 0.4s 3s ease-in-out forwards;
                            opacity: 1;
                            width: 225rem;
                            height: 46rem;
                            position: absolute;
                            top: 0rem;
                            left: 0;
                            right: 0;
                            margin: auto;
                            z-index: 4;
                            transform: translateX(47px) scale(1.7);
                        }

                        // 나중에 생기는 위 작은 박스
                        .ani_1_5_2 {
                            animation: ani_1_5_2 .5s 3.7s ease-in-out forwards;
                            opacity: 0;
                            transform: scale(0.7);
                            // border: 1px solid black;
                            width: 169rem;
                            height: 36rem;
                            position: absolute;
                            top: 15rem;
                            left: 0;
                            right: 0;
                            margin: auto;
                            z-index: 4;
                        }

                        &::after {
                            animation: ani_1_5_1 .5s 3s ease-in-out forwards;
                            content: '';
                            position: absolute;
                            bottom: -52rem;
                            left: -250%;
                            right: 0;
                            margin: auto;
                            display: block;
                            width: 500%;
                            height: 70rem;
                            z-index: 5;
                            background: linear-gradient(180deg, rgb(255, 255, 255, 0.1), rgb(241, 242, 244, 1) 80%);
                        }

                    }

                    .ani_1_6 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid red;
                        width: 200rem;
                        height: 150rem;
                        opacity: 1;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: 4;
                        background-color: white;


                        &>div {
                            width: 33.3333333333%;
                            height: 50%;
                            position: relative;
                        }

                        // 안에 작은 박스 3개 공통
                        [class*="ani_1_6_"] {
                            border: 1px solid blue;

                            &>div {
                                width: 32rem;
                                height: 32rem;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                            }

                            div:nth-child(1) {
                                background-color: red;
                                z-index: 0;
                            }

                            div:nth-child(2) {
                                background-color: blue;
                                opacity: 0;
                                animation: ani_1_6_fade_2 1s .3s ease-in-out forwards;
                                z-index: 1;
                            }

                            div:nth-child(3) {
                                background-color: green;
                                opacity: 0;
                                animation: ani_1_6_fade_2 1s 2.8s ease-in-out forwards;
                                z-index: 2;
                            }
                        }

                        .ani_1_6_1 {
                            animation: ani_1_6_1 6s 0s ease-in-out forwards;
                        }

                        .ani_1_6_2 {
                            animation: ani_1_6_2 6s 0s ease-in-out forwards;
                        }

                        // .ani_1_6_3 {
                        //     animation: ani_1_5_2 1s 4s ease-in-out forwards;
                        // }

                        // .ani_1_6_4 {
                        //     animation: ani_1_5_2 1s 4s ease-in-out forwards;
                        // }

                        // .ani_1_6_5 {
                        //     animation: ani_1_5_2 1s 4s ease-in-out forwards;
                        // }

                        // .ani_1_6_6 {
                        //     animation: ani_1_5_2 1s 4s ease-in-out forwards;
                        // }
                    }


                }
            }
        }
    }

    // 이미지 사이즈 모음
    .img_02 {
        width: 1005rem;
        height: 260rem;
    }

    .img_03,
    .img_04,
    .img_05 {
        width: 393rem;
        height: 416rem;

    }

    .img_06 {
        width: 169rem;
        height: 36rem;
    }

}




// 애니메이션 모음
@keyframes ani_1_1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes ani_1_2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ani_1_3 {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

    // 첫번째 섹션 같이 없어져야됨
}


// 아래 큰박스 
@keyframes ani_1_5 {
    0% {
        opacity: 1;
        transform: translateX(-30px) scale(0.6);
        left: 0;
        width: 393rem;
    }

    5% {
        opacity: 1;
        // transform: translate(0px, 20rem) scale(0.6);
        transform: translate(-30px, 0rem) scale(0.6);

    }

    12% {
        opacity: 1;
        transform: translate(0, -280rem) scale(1.1);
    }

    20% {
        opacity: 1;
        transform: translate(0px, -260rem) scale(1);
    }


    30% {
        opacity: 1;
        transform: translate(0px, -260rem) scale(1);
    }

    90% {
        opacity: 1;
        // transform: translate(-800rem, -260rem) scale(1);
        transform: translate(-600rem, -260rem) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-600rem, -260rem) scale(1);
        left: 0;
        width: 393rem;
    }
}


// 위 작은 박스
@keyframes ani_1_5_1 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// 위 작은 박스
@keyframes ani_1_5_2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


// 아래서 위로 올라오는 
@keyframes ani_1_6 {
    0% {}

    50% {}

    100% {}
}


@keyframes ani_1_6_fade_2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@keyframes ani_1_6_1 {
    0% {
        transform: translate(0rem, 0rem);
    }

    5% {
        transform: translate(-10rem, -10rem); // 튕김효과
    }

    20% {
        transform: translate(66rem, 74rem);
    }

    45% {
        transform: translate(66rem, 74rem);
    }

    50% {
        transform: translate(55rem, 74rem); // 튕김효과
    }

    65% {
        transform: translate(132rem, 74rem);
    }

    100% {
        transform: translate(132rem, 74rem);
    }
}


@keyframes ani_1_6_2 {
    0% {
        transform: translate(0rem, 0rem);
    }

    5% {
        transform: translate(10rem, -10rem); // 튕김효과
    }

    20% {
        transform: translate(-66rem, 74rem);
    }

    45% {
        transform: translate(-66rem, 74rem);
    }

    50% {
        transform: translate(-74rem, 80rem); // 튕김효과
    }

    65% {
        transform: translate(66rem, 0rem);
    }

    100% {
        transform: translate(66rem, 0rem);
    }
}