body,
html {
    width: 100%;
    height: 100%;
    // adasd
}

html {
    font-size: 1px;
}

body {
    background-color: rgba(241, 242, 244, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


*:hover * {
    /* 호버 시: 정지 */
    animation-play-state: paused;
}


img {
    width: 100%;
    height: 100%;
}


.swiper__wrap {
    width: 100%;
    height: 100%;

    &--item {
        height: 416rem;
        overflow: hidden;

        .ani__wrap {
            height: 100%;

            &--item {
                width: 100%;
                height: 416rem;
            }

            // ani 1
            &.ani_1 {
                // name | duration | timing-function | delay | iteration-count | direction | fill-mode;
                position: relative;
                height: 100%;
                background-color: rgba(241, 242, 244, 1);

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -20rem;
                    left: -250%;
                    right: 0;
                    margin: auto;
                    display: block;
                    width: 500%;
                    height: 70rem;
                    z-index: 5;
                    background: linear-gradient(180deg, rgb(255, 255, 255, 0.1), rgb(241, 242, 244, 1) 80%);
                }

                .ani_1_1 {
                    opacity: 1;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 1;
                    text-align: center;

                }

                .ani_1_2 {
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 2;
                    text-align: center;

                }

                .ani_1_3 {
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 3;
                    text-align: center;

                }

                .ani_1_5 {
                    opacity: 1;
                    // width: 265rem;
                    width: 393rem;
                    height: 50rem;
                    position: absolute;
                    // bottom: 0rem;
                    bottom: 11rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 4;
                    font-size: 16rem;
                    white-space: nowrap;
                    // overflow: hidden;
                    transform-origin: center center;
                    transform: translateX(-30rem) scale(0.6); // 위 작은 박스


                    .ani_1_5_1 {
                        opacity: 1;
                        width: 225rem;
                        height: 46rem;
                        position: absolute;
                        top: 0rem;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: 4;
                        transform: translateX(47rem) scale(1.7);
                    }

                    // 나중에 생기는 위 작은 박스
                    .ani_1_5_2 {
                        opacity: 0;
                        transform: scale(0.7);
                        // border: 1rem solid black;
                        width: 169rem;
                        height: 36rem;
                        position: absolute;
                        top: 15rem;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: 4;
                    }


                }

                .ani_1_6_tit {
                    width: 130rem;
                    height: 36rem;
                    position: absolute;
                    top: 50rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    opacity: 0;
                }

                .ani_1_6 {
                    width: 350rem;
                    height: 285rem;
                    opacity: 0;
                    position: absolute;
                    top: 106rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 4;
                    // background-color: white;

                    // 아이콘 박스 3개 공통
                    .ani__wrap--item {
                        width: 33.3333333333%;
                        height: 50%;
                        position: relative;
                    }

                    // 아이콘 안에 작은 박스 3개 공통
                    [class*="ani_1_6_"] {
                        // border: 1rem solid blue;

                        &>div {
                            width: 84rem;
                            height: 73rem;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }

                        div:nth-child(1) {
                            // background-color: red;
                            z-index: 0;
                        }

                        div:nth-child(2) {
                            // background-color: blue;
                            opacity: 0;
                            z-index: 1;
                        }

                        div:nth-child(3) {
                            // background-color: green;
                            opacity: 0;
                            z-index: 2;
                        }
                    }

                    // 아이콘 상자 랩
                    .icon_wrap {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 15rem;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 259rem;
                        height: 152rem;
                    }
                }

                // 마지막 폰모양
                .ani_1_7 {
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 2;
                    text-align: center;

                }

                // 폰안에 움직이는 아이템
                .ani_1_8 {
                    width: 233rem;
                    height: 129rem;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 4rem;
                    right: 0;
                    margin: auto;
                    z-index: 2;
                    text-align: center;
                    transform: translateY(0);


                }


            }


        }



        &:global(.swiper-slide-active) {

            // &:global(.ani__start) {
            // class 붙을 시 애니메이션 
            .ani__wrap {

                // ani 1
                &.ani_1 {

                    .ani_1_1 {
                        animation: ani_1_1 2s ease-in-out forwards;
                    }

                    .ani_1_2 {
                        animation: ani_1_2 2s 1s ease-in-out forwards;
                    }

                    .ani_1_3 {
                        animation: ani_1_3 3s 2s ease-in-out forwards;
                    }

                    .ani_1_5 {
                        animation: ani_1_5 5s 3s cubic-bezier(0, 0.36, 0.34, 0.97) forwards;

                        .ani_1_5_1 {
                            animation: ani_1_5_1 0.4s 3s ease-in-out forwards;
                        }

                        // 나중에 생기는 위 작은 박스
                        .ani_1_5_2 {
                            animation: ani_1_5_2 .5s 3.7s ease-in-out forwards;
                        }

                        // &::after {
                        //     animation: ani_1_5_1 .5s 3s ease-in-out forwards;
                        //     content: '';
                        //     position: absolute;
                        //     bottom: -52rem;
                        //     left: -250%;
                        //     right: 0;
                        //     margin: auto;
                        //     display: block;
                        //     width: 500%;
                        //     height: 70rem;
                        //     z-index: 5;
                        //     background: linear-gradient(180deg, rgb(255, 255, 255, 0.1), rgb(241, 242, 244, 1) 80%);
                        // }

                    }

                    .ani_1_6_tit {
                        animation: ani_1_6_tit 5s 7.5s ease-in-out forwards;
                    }

                    .ani_1_6 {
                        animation: ani_1_6 10s 7s ease-in-out forwards;

                        // 아이콘 안에 작은 박스 3개 공통
                        [class*="ani_1_6_"] {
                            div:nth-child(1) {
                                animation: ani_1_6_fade_1 .5s 8.6s ease-in-out forwards;
                            }

                            div:nth-child(2) {
                                animation: ani_1_6_fade_2 4s 8.5s ease-in-out forwards;
                            }

                            div:nth-child(3) {
                                animation: ani_1_6_fade_3 1s 10.7s ease-in-out forwards;
                            }
                        }


                        // 아이콘 상자
                        .ani_1_6_1 {
                            animation: ani_1_6_1 5s 8s cubic-bezier(1, 0.02, 0.99, 0.93) forwards;
                        }

                        .ani_1_6_2 {
                            animation: ani_1_6_2 5s 8s cubic-bezier(1, 0.02, 0.99, 0.93) forwards;
                        }

                        .ani_1_6_3 {
                            animation: ani_1_6_3 5s 8s cubic-bezier(1, 0.02, 0.99, 0.93) forwards;
                        }

                        .ani_1_6_4 {
                            animation: ani_1_6_4 5s 8s cubic-bezier(1, 0.02, 0.99, 0.93) forwards;
                        }

                        .ani_1_6_5 {
                            animation: ani_1_6_5 5s 8s cubic-bezier(1, 0.02, 0.99, 0.93) forwards;
                        }

                        .ani_1_6_6 {
                            animation: ani_1_6_6 5s 8s cubic-bezier(1, 0.02, 0.99, 0.93) forwards;
                        }
                    }

                    // 마지막 폰모양
                    .ani_1_7 {
                        animation: ani_1_7 5s 12.2s ease-in-out forwards;

                    }

                    // 폰안에 움직이는 아이템
                    .ani_1_8 {
                        animation: ani_1_8 5s 12.5s cubic-bezier(0.01, 0.94, 0.01, 0.96) forwards;
                    }


                }
            }
        }
    }

    // ########################################## 
    // ##########################################  이미지 사이즈 모음
    // ##########################################  
    .img_02 {
        width: 1005rem;
        height: 260rem;
    }

    .img_03,
    .img_04,
    .img_05 {
        width: 296rem;
        height: 416rem;

    }

    .img_06 {
        width: 169rem;
        height: 36rem;
    }

    .img_09 {
        width: 233rem;
        height: 129rem;
    }
}





// ########################################## 
// ##########################################  애니메이션 모음
// ##########################################  
@keyframes ani_1_1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes ani_1_2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ani_1_3 {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

    // 첫번째 섹션 같이 없어져야됨
}


// 아래 큰박스 
@keyframes ani_1_5 {
    0% {
        opacity: 1;
        transform: translateX(-30rem) scale(0.6);
        left: 0;
        width: 393rem;
    }

    5% {
        opacity: 1;
        // transform: translate(0rem, 20rem) scale(0.6);
        transform: translate(-30rem, 0rem) scale(0.6);

    }

    12% {
        opacity: 1;
        transform: translate(0, -280rem) scale(1.1);
    }

    20% {
        opacity: 1;
        transform: translate(0rem, -260rem) scale(1);
    }


    30% {
        opacity: 1;
        transform: translate(0rem, -260rem) scale(1);
    }

    90% {
        opacity: 1;
        // transform: translate(-800rem, -260rem) scale(1);
        transform: translate(-600rem, -260rem) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-600rem, -260rem) scale(1);
        left: 0;
        width: 393rem;
    }
}


// 위 작은 박스
@keyframes ani_1_5_1 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// 위 작은 박스
@keyframes ani_1_5_2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


// 아래서 위로 올라오는 아이콘 랩
@keyframes ani_1_6 {
    0% {
        transform: translateY(20rem);
        opacity: 0;
    }

    10% {
        transform: translateY(0rem);
        opacity: 1;
    }

    50% {
        transform: translateY(0rem);
        opacity: 1;
    }

    53% {
        transform: translateY(-10rem);
        opacity: 1;
    }

    56% {
        transform: translateY(150rem) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translateY(150rem);
        opacity: 0;
    }
}

@keyframes ani_1_6_fade_1 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ani_1_6_fade_2 {


    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }


    100% {
        opacity: 0;
    }
}


@keyframes ani_1_6_fade_3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ani_1_6_tit {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



// 아이콘박스
@keyframes ani_1_6_1 {
    0% {
        transform: translate(0rem, 0rem);
    }

    5% {
        transform: translate(-10rem, -10rem); // 튕김효과
    }

    20% {
        transform: translate(85rem, 75rem);
    }

    45% {
        transform: translate(85rem, 75rem);
    }

    50% {
        transform: translate(78rem, 75rem); // 튕김효과
    }

    65% {
        transform: translate(170rem, 75rem);
    }

    100% {
        transform: translate(170rem, 75rem);
    }
}


@keyframes ani_1_6_2 {
    0% {
        transform: translate(0rem, 0rem);
    }

    5% {
        transform: translate(10rem, -10rem); // 튕김효과
    }

    20% {
        transform: translate(-85rem, 75rem);
    }

    45% {
        transform: translate(-85rem, 75rem);
    }

    50% {
        transform: translate(-75rem, 80rem); // 튕김효과
    }

    65% {
        transform: translate(85rem, 0rem);
    }

    100% {
        transform: translate(85rem, 0rem);
    }
}

@keyframes ani_1_6_3 {
    0% {
        transform: translate(0rem, 0rem);
    }

    5% {
        transform: translate(10rem, -10rem); // 튕김효과
    }

    20% {
        transform: translate(-85rem, 0rem);
    }

    45% {
        transform: translate(-85rem, 0rem);
    }

    50% {
        transform: translate(-77rem, -10rem); // 튕김효과
    }

    65% {
        transform: translate(-170rem, 75rem);
    }

    100% {
        transform: translate(-170rem, 75rem);
    }
}

@keyframes ani_1_6_4 {
    0% {
        transform: translate(0rem, 0rem);
    }

    5% {
        transform: translate(-10rem, 10rem); // 튕김효과
    }

    20% {
        transform: translate(170rem, 0rem);
    }

    45% {
        transform: translate(170rem, 0rem);
    }

    50% {
        transform: translate(180rem, 10rem); // 튕김효과
    }

    65% {
        transform: translate(85rem, -75rem);
    }

    100% {
        transform: translate(85rem, -75rem);
    }
}

@keyframes ani_1_6_5 {
    0% {
        transform: translate(0rem, 0rem);
    }

    5% {
        transform: translate(-10rem, 10rem); // 튕김효과
    }

    20% {
        transform: translate(85rem, -75rem);
    }

    45% {
        transform: translate(85rem, -75rem);
    }

    50% {
        transform: translate(95rem, -75rem); // 튕김효과
    }

    65% {
        transform: translate(-85rem, -75rem);
    }

    100% {
        transform: translate(-85rem, -75rem);
    }
}

@keyframes ani_1_6_6 {
    0% {
        transform: translate(0rem, 0rem);
    }

    5% {
        transform: translate(10rem, 0rem); // 튕김효과
    }

    20% {
        transform: translate(-170rem, -75rem);
    }

    45% {
        transform: translate(-170rem, -75rem);
    }

    50% {
        transform: translate(-180rem, -85rem); // 튕김효과
    }

    65% {
        transform: translate(-85rem, 0rem);
    }

    100% {
        transform: translate(-85rem, 0rem);
    }
}


@keyframes ani_1_7 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ani_1_8 {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    5% {
        opacity: 1;
        transform: translateY(420rem);
    }

    15% {
        opacity: 1;
        transform: translateY(358rem);
    }

    // 50% {
    //     opacity: 1;
    //     transform: translateY(358rem);
    // }

    // 90% {
    //     opacity: 0;
    //     transform: translateY(358rem);
    // }

    90% {
        opacity: 1;
        transform: translateY(358rem);
    }

    100% {
        opacity: 0;
        transform: translateY(358rem);
    }
}