* {
    scroll-behavior: smooth
}

.wrap__ {
    position: fixed;
    width: 100%; 
    height: 100%;;
}

.wrap__conts {
    display: flex;;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

}


.container-scroll {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    height: 100%;
    > div {
        height: 500rem;
        flex: 0 0 auto;
    }
}