.calc__wrap {

   transition: all .3s;

   section {
      height: 500px;
      border: 1px solid red;

      &+section {
         margin-top: 10px;
      }
   }




}

.keypad {
   width: 100%;
   height: 250px;
   background-color: red;
   position: fixed;
   bottom: 0;
   transform: translate(0, 250px);
   transition: .3s ease-in-out;

   &:global(.focus) {
      transform: translate(0, 0px);
   }
}