// @use '../../css/global.module.scss' as c;
@use '../../css/module.module.scss' as c;



.list {



    // &:nth-child(0) {
    //     background-color: red;
    // }


    border-top: 1px solid rgb(199, 199, 199);

    &--item {
        border-bottom: 1px solid #a8befb;

        @include c.border(30px, c.$color1);

        &:nth-child(1) {
            @include c.border(30px, c.$color4);
        }

        &:nth-child(2) {
            @include c.border(30px, c.$color5);

        }
    }
}


@for $i from 0 to 4 {
    .imglist-#{$i} {
        background: url('/img#{$i}.png') no-repeat center/100%;
        border: #{$i}px solid #ddd;
        width: 20px;
        height: 20px;
    }
}